<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Message Details</title>

    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
</head>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="container">
    <div th:include="common/head :: head"></div>
    </br>
    <div style="width: 20%;float: left; border: 1px solid #DCDCDC">
        <div class="col-md-6">
            <img src="img/portrait.jpg" width="100px" height="100px">
        </div>
        <div class="col-md-6" style="text-align: center">
            <p style="margin-top: 25px">Hello !</p>
            <p>Jack</p>
        </div>
        <table class="table table-hover">

            <tbody>
            <tr>
                <td style="text-align: center">
                    <div th:if="${session.role == 0}">
                        <a th:href="@{/user/courses}" style="color:#DC143C;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">Courses</span>
                        </a>
                    </div>

                    <!-- role=0 老师 -->
                    <div th:if="${session.role == 1}">
                        <a th:href="@{/teacher/courses}" style="color:#DC143C;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">Courses</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <!-- role=0 学生 -->
                    <div th:if="${session.role == 0}">
                        <a th:href="@{/user/information}" style="color:#DC143C;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">Information</span>
                        </a>
                    </div>

                    <!-- role=0 老师 -->
                    <div th:if="${session.role == 1}">
                        <a th:href="@{/teacher/information}" style="color:#DC143C;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">Information</span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">
                    <!-- role=0 学生 -->
                    <div th:if="${session.role == 0}">
                        <a th:href="@{/msg/student}" style="color:#DC143C;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">Message</span>
                        </a>
                    </div>

                    <!-- role=0 老师 -->
                    <div th:if="${session.role == 1}">
                        <a th:href="@{/msg/teacher}" style="color:#DC143C;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">Message</span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div style="width: 75%;float: right;">
        <div class="container-fluid zhenghan-border-gray">

            <!-- 根消息 -->
            <div class="col-md-12 " style="padding-top: 10px;padding-left: 0;">
                <div class="col-md-1" style="padding: 0;">
                    <img th:src="${sender.pic}" style="width: 60px;height: 60px;"/>
                </div>
                <div class="col-md-3" style="padding-top: 8px;">
                    <p style="font-size: 15px;" th:text="${sender.firstName + ' ' + sender.lastName}"></p>
                    <p style="font-size: 12px;" th:text="${rootMsg.createTime}"></p>
                </div>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <p style="font-size: 12px;" th:text="${rootMsg.content}"></p>
            </div>

            <!-- 根消息下的后续消息 -->
            <div th:each="msg:${msgList}">
                <div th:if="${sender.id == msg.senderId}">
                    <div class="col-md-11 col-md-offset-1" style="background-color: #F5F5F5;">
                        <div class="col-md-12 " style="padding-top: 10px;padding-left: 0;">
                            <div class="col-md-1" style="padding: 0;">
                                <img th:src="${sender.pic}" style="width: 60px;height: 60px;"/>
                            </div>
                            <div class="col-md-4" style="padding-top: 8px;">
                                <p style="font-size: 15px;" th:text="${sender.firstName + ' ' + sender.lastName}"></p>
                                <p style="font-size: 12px;" th:text="${msg.createTime}"></p>
                            </div>
                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            <p style="font-size: 12px;" th:text="${msg.content}"></p>
                        </div>
                    </div>
                </div>

                <div th:if="${receiver.id == msg.senderId}">
                    <div class="col-md-11 col-md-offset-1" style="background-color: #F5F5F5;">
                        <div class="col-md-12 " style="padding-top: 10px;padding-left: 0;">
                            <div class="col-md-1" style="padding: 0;">
                                <img th:src="${receiver.pic}" style="width: 60px;height: 60px;"/>
                            </div>
                            <div class="col-md-4" style="padding-top: 8px;">
                                <p style="font-size: 15px;"
                                   th:text="${receiver.firstName + ' ' + receiver.lastName}"></p>
                                <p style="font-size: 12px;" th:text="${msg.createTime}"></p>
                            </div>
                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            <p style="font-size: 12px;" th:text="${msg.content}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 回复 -->
            <form th:action="@{/msg/reply/__${rootMsg.id}__}" method="post">
                <input type="hidden" name="receiverId" th:value="${finalReceiverId}">
                <input type="hidden" name="msgId" th:value="${replyMsgId}">
                <div class="col-md-11 col-md-offset-1" style="margin-top: 15px;">
                    <div class="col-md-11 form-group" style="padding-top: 10px;">
                        <input type="text" name="content" style="width: 90%;height: 30px;"
                               placeholder="Write a comment...">
                        <input type="submit" class="btn btn-success" value="Send">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:include="common/foot :: foot"></div>

</div><!-- /.container -->


<script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>

</body>
</html>