<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/></head>
<!-- NAVBAR
================================================== -->
<body>
<div class="container">

    <div th:include="common/head :: head"></div>
    </br>
    <div  style="width: 20%;float: left; border: 1px solid #DCDCDC">
        <div class="col-md-6">
            <img th:src="@{img/portrait.jpg}" width="100px" height="100px" >
        </div>
        <div class="col-md-6" style="text-align: center">
            <p style="margin-top: 25px">Hello !</p>
            <p>Jack</p>
        </div>
        <table class="table table-hover" >

            <tbody>
            <tr>
                <td style="text-align: center"><a th:href="@{/user/courses}" style="color:#DC143C;"><span class="glyphicon glyphicon-book" aria-hidden="true">Courses</span></a></td>
            </tr>
            <tr>
                <td style="text-align: center"><a th:href="@{/user/information}" style="color:#DC143C;"><span class="glyphicon glyphicon-user" aria-hidden="true">Information</span></a></td>
            </tr>
            <tr>
                <td style="text-align: center"><a th:href="@{/msg/student}" style="color:#DC143C;"><span class="glyphicon glyphicon-comment" aria-hidden="true">Message</span></a></td>
            </tr>
            </tbody>
        </table>

    </div>
    <div style="width: 75%;float: right;">
        <p style="font-size: 25px;">My Information</p>
        <form class="form-horizontal" action="#" method="post">
            <div class="form-group">
                <label for="firstName" class="control-label col-md-2">Legal FirstName</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="firstName" th:value="${user.firstName}">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="control-label col-md-2">Legal LastName</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="lastName" th:value="${user.lastName}">
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="control-label col-md-2">email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="email" th:value="${user.email}">
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-md-2">Sex </label>
                <div class="col-md-10">
                    <input checked="true" name="sex" type="radio" value="1"> Male
                    <input name="sex" type="radio" value="2"> Female
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="control-label col-md-2">Phone Number</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="phoneNumber" th:value="${user.mobile}">
                </div>
            </div>
            <div class="form-group">
                <label for="address" class="control-label col-md-2">Address</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="address" th:value="${user.address}">
                </div>
            </div>
            <div class="form-group">
                <label for="postalCode" class="control-label col-md-2">Postal Code</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="postalCode" th:value="${user.postalCode}">
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="control-label col-md-2">Country</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="country" th:value="${user.country}">
                </div>
            </div>
            <div class="form-group">
                <label for="portrait" class="control-label col-md-2">Head Portrait</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" id="portrait" style="border: hidden;" value="55">
                </div>
            </div>
            <button style="float: right;" type="submit" class="btn btn-success">Update</button>
        </form>
    </div>
</div>


<div th:include="common/foot :: foot"></div>
</div><!-- /.container -->



<script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>
</body>
</html>