<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" rel="stylesheet">
    <link href="../../../css/justified-nav.css" rel="stylesheet"/>
</head>

<body>
<div class="container">

    <div th:include="common/head :: head"></div>
    </br>

    <div class="container" style="border: 1px solid #DCDCDC;">
        <div class="col-md-2">

            <div class="panel-group" id="accordion" style="margin-top: 40px;">
                <div class="panel panel-default" th:each="grade:${gradeList}">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne" >
                                <p th:text="${grade.gradeName}"></p>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="nav navbar-zhenghan">
                                <li th:each="course:${courseList}">
                                    <div th:if="${course.gradeId}==${grade.id}"><a href="#"><p
                                            th:text="${course.title}"></p></a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10 "><div th:each="grade:${gradeList}">
            <h3><span th:text="${grade.gradeName}"/> Courses</h3>
            <h3>Register Information</h3>
            <ol>
                <li><strong>To Register:</strong> For the course you wish to enrol in, simply click on the <strong>"Register"</strong>
                    link at the end of its row in the chart below.
                </li>
                <li><strong>More than One Course:</strong> : Enroll for more than one course by selecting one from this
                    table and selecting other courses later in the registration process.
                </li>
                <li><strong>Prerequisites:</strong> A prerequisite course provides base knowledge required for a
                    subsequent course. Before you register, check the information in the table below to determine what
                    the prerequisite course is, if applicable. You must provide VHS with evidence that you have
                    completed the prerequisite course by sending a copy of your report card, transcript, or credit
                    counselling summary sheet to
                    <a href="#">Prerequisite@OntarioSchool.com</a>.&nbsp; If you do not have the exact prerequisite, but
                    have completed a similar course in another province or country, you may be eligible for a
                    prerequisite waiver. You may also be eligible if you have earned your high school diploma, are a
                    mature student, or have academic experience that is related to your course. If this applies to you,
                    please submit the completed
                    <a href="#" target="_blank">Prerequisite Waiver Application</a> form to your Guidance Coordinator.
                </li>
                <li><strong>Upgrade Credit Course:</strong> If you are repeating a course in order to improve your mark,
                    you may opt to take the course as an&nbsp;
                    <a href="#" target="_blank">upgrade credit course</a>&nbsp;instead of a&nbsp;<strong>regular
                        course</strong>. An upgrade credit course covers all of the same curriculum requirements, but
                    has a reduced assessment load. To be eligible to take an upgrade credit course, you must have
                    already completed the regular course within the past 12 months and earned a passing mark of at least
                    50%.
                </li>
                <li><strong>Costs:</strong> Our costs are transparent. Our <em><a href="#">Policy Statements</a></em> on
                    the bottom of this page concern tuition refunds, course transfer fees, course enrollments and
                    prerequisites. View the
                    <a class="colorbox" href="#">cost chart</a> comparing Ontario to another online school.
                </li>
            </ol>
            <hr>
            <div th:each="course:${courseList}">
            <div class="course-description" >
                <h2>
                    <div th:text="${course.title}"></div></h2>
                <div class="col-md-2">
                    <img src="docs/assets/brand/bootstrap-solid.svg" alt="ALC1O screenshot" width="120px"
                         height="120px"/>
                </div>
                <div class="col-md-10">
                    <p style="float: left;" th:text="${course.description}">   </div>
                <table border="0" cellpadding="3" cellspacing="0">
                    <tr>
                        <td width="33%" style="text-align: center;"><a href="courses/grade9/9001.html">More</a></td>
                        <td width="33%"><a href="register.html">Register Now</a></td>
                    </tr>
                </table>
            </div>
            </div>
            </div>

        </div>
        <div th:include="common/foot :: foot"></div>
    </div><!-- /.container -->


    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/holder.min.js"></script>

</div>
</body>
</html>