<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
    <title>Course</title>
</head>
<body>

<div class="container">

    <div th:include="common/head :: head"></div>
    </br>
    <div class="container" style="border: 1px solid #DCDCDC;">

        <div class="col-md-12 ">
            <h3>Register Information</h3>
            <ol>
                <li><strong>To Register:</strong> For the course you wish to enrol in, simply click on the <strong>"Register"</strong>
                    link at the end of its row in the chart below.
                </li>
                <li><strong>More than One Course:</strong> : Enroll for more than one course by selecting one from this
                    table and selecting other courses later in the registration process.
                </li>
                <li><strong>Prerequisites:</strong> A prerequisite course provides base knowledge required for a
                    subsequent course. Before you register, check the information in the table below to determine what
                    the prerequisite course is, if applicable. You must provide VHS with evidence that you have
                    completed the prerequisite course by sending a copy of your report card, transcript, or credit
                    counselling summary sheet to
                    <a href="mailto:Prerequisite@VirtualHighSchool.com">Prerequisite@VirtualHighSchool.com</a>.&nbsp; If
                    you do not have the exact prerequisite, but have completed a similar course in another province or
                    country, you may be eligible for a prerequisite waiver. You may also be eligible if you have earned
                    your high school diploma, are a mature student, or have academic experience that is related to your
                    course. If this applies to you, please submit the completed
                    <a href="https://www.virtualhighschool.com/downloads/Prerequisite_Waiver_Application.pdf"
                       target="_blank">Prerequisite Waiver Application</a> form to your Guidance Coordinator.
                </li>
                <li><strong>Upgrade Credit Course:</strong> If you are repeating a course in order to improve your mark,
                    you may opt to take the course as an&nbsp;
                    <a href="https://www.virtualhighschool.com/upgrade_courses.asp" target="_blank">upgrade credit
                        course</a>&nbsp;instead of a&nbsp;<strong>regular course</strong>. An upgrade credit course
                    covers all of the same curriculum requirements, but has a reduced assessment load. To be eligible to
                    take an upgrade credit course, you must have already completed the regular course within the past 12
                    months and earned a passing mark of at least 50%.
                </li>
                <li><strong>Costs:</strong> Our costs are transparent. Our <em><a href="#fine-print">Policy
                    Statements</a></em> on the bottom of this page concern tuition refunds, course transfer fees, course
                    enrollments and prerequisites. View the
                    <a class="colorbox" href="#cost-comp">cost chart</a> comparing VHS to another online school.
                </li>
            </ol>
            <hr>
        </div>

        <div class="col-md-12 ">
            <p style="text-align: center;background-color:#DC143C;font-size: 20px;color:#FFFFFF;padding: 0px;">All
                Courses Are Available For Enrollment</p>
            </br>
            <table class="table table-striped" border="1px" bordercolor="#ddd" th:each="grade:${gradeList}">
                <thead style="background-color: #DC143C;color:#FFFFFF">
                <tr>
                    <th width="55%" style="text-align: center;" th:text="${grade.gradeName}">Grade 9 Regular Courses
                    </th>

                    <th width="15%" style="text-align: center;">Teacher(s)</th>

        <th width="15%" style="text-align: center;">TuitionCan$</th>
        <th width="15%" style="text-align: center;">Click to Register</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course:${courseList}">
            <div th:if="${course.gradeId==grade.id}">
                <td style="text-align: center;"><a th:href="@{/course/detail/__${course.id}__}" th:text="${course.title}">English</a></td>
                <div th:each="user:${userList}">
                    <div th:if="${user.id==course.teacherId}">
                        <td style="text-align: center;" th:text="${user.username}">laowang</td>
                    </div>
                </div>
                <td style="text-align: center;" th:text="${course.price}">450$</td>
                <td style="text-align: center;"><a th:href="@{/course/register/__${course.id}__}" href="register.html">Register</a></td>
            </div>
        </tr>

        </tbody>
        </table>

    </div>
</div>
<div th:include="common/foot :: foot"></div>

</div>

<script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>
</body>

</html>
