<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="container">

    <div th:include="common/head :: head"></div>
    </br>
    <div  style="width: 20%;float: left; border: 1px solid #DCDCDC">
        <div class="col-md-6">
            <img th:src="@{img/Tom.jpg}" width="100px" height="100px" >
        </div>
        <div class="col-md-6" style="text-align: center">
            <p style="margin-top: 25px">Hello !</p>
            <p>Tom</p>
        </div>

        <div th:include="common/nav_course :: nav"></div>

    </div>
    <div style="width: 75%;float: right">
        <h3 th:text="${course.title}" style="text-align: center;">SCH3U:Chemistry University Preparation</h3>
        <hr />

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="details" >
                <h3>Course Description</h3>
                <hr/>
                <p th:text="${course.description}">  This course enables students to deepen their understanding of chemistry through the study of the
                    properties of chemicals and chemical bonds; chemical reactions and quantitative relationships in
                    those reactions; solutions and solubility; and atmospheric chemistry and the behaviour of gases.
                    Students will further develop their analytical skills and investigate the qualitative and quantitative
                    properties of matter, as well as the impact of some common chemical reactions on society and the
                    environment.</p>
            </div>
        </div>

    </div>
</div>
</div>
</div>

<div th:include="common/foot :: foot"></div>
</div><!-- /.container -->


<script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>
</body>
</html>
