<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="container">

    <div th:include="common/head :: head"></div>
    </br>

    <div th:include="common/teacher_common :: teacher"></div>

    <div style="width: 75%;float: right">
        <table class="table">
            <caption style="font-size: 20px;">All of my courses</caption>
            <tbody>
            <tr th:each="course:${courseList}">
                <td width="20%">
                    <img th:src="@{/img/course.jpg}" width="60px" height="60px" >
                </td>
                <td width="60%" style="text-align: center">
                    <a th:href="@{/course/detail/__${course.id}__}" th:text="${course.title}">SCH3U</a>
                </td>
                <td width="20%">
                    <a class="btn btn-success" href="#" th:href="@{/teacher/course/__${course.id}__}">View details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:include="common/foot :: foot"></div>
</div><!-- /.container -->


<script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>
</body>
</html>