<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../favicon.ico">

		<title>Carousel Template for Bootstrap</title>

        <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
        <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
        <script th:src="@{/ckeditor/ckeditor.js}"></script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="container">

		<div th:include="common/head :: head"></div>
			</br>
        <div th:include="common/teacher_details_common :: teacher"></div>
		<div style="width: 75%;float: right;">
			<h3 style="text-align: center;">Add Unit</h3>
			<hr />
			<div class="col-md-12 zhenghan-border-gray">
			<form class="form-horizontal" th:action="@{/teacher/courses/addUnit}" method="post">
            <div class="form-group">
                <label class="control-label col-md-2" style="text-align: left;">Unit title:</label>
                <div class="col-md-10">
    	            <input type="text" required name="title" class="form-control"/>
                </div>
            </div>
            
            <div class="form-group">
                <label  class="control-label col-md-2" style="text-align: left;">Unit describe:</label>
                <div class="col-md-10">
    	            <textarea name="description" id="description" class="zhenghan-textarea"></textarea>
                    <script>
                        CKEDITOR.replace( 'description' );
                    </script>
                </div>  
            </div>
            <div class="form-group">
                <label f class="control-label col-md-2" style="text-align: left;">Time:</label>
                <div class="col-md-10">
    	            <input type="text" class="form-control" name="spendTime" >
                </div>  
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        </div>
		</div>
</div>


	<div th:include="common/foot :: foot"></div>

    </div><!-- /.container -->



    <script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
    <script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>
  </body>
</html>
