<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Teacher</title>

    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}"  rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/></head>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="container">
    <div th:include="common/head :: head"></div>
    </br>
    <div th:include="common/teacher_common :: teacher"></div>

    <div style="width: 75%;float: right;">
        <div id="" class="container-fluid zhenghan-border-gray">
            <!-- 发送消息 -->
            <form th:action="@{/msg/send}" method="post">
                <div class="col-md-11 col-md-offset-1 " style="padding-top: 10px;">
                    Send message to:
                    <select name="receiverId">
                        <option th:each="student:${studentList}" th:value="${student.id}"
                                th:text="${student.firstName + ' ' + student.lastName}"></option>
                    </select>
                </div>

                <div class="col-md-11 col-md-offset-1" style="margin-top: 15px;">
                    <div class="col-md-11 form-group" style="padding-top: 10px;">
                        <input type="text" name="content" style="width: 90%;height: 30px;"
                               placeholder="Write a comment...">
                        <input type="submit" class="btn btn-success" value="Send">
                    </div>
                </div>
            </form>

        </div>

        <!-- 用户自己发出去的根消息 -->
        <div th:each="student:${studentList}">
            <div th:each="mineRootMsg:${mineRootMsgList}">
                <div th:if="${student.id == mineRootMsg.receiverId}">

                    <div class="container-fluid zhenghan-border-gray">
                        <div class="col-md-12 " style="padding-top: 10px;padding-left: 0;">

                            <div class="col-md-1" style="padding: 0;">
                                <img th:src="${student.pic}" style="width: 60px;height: 60px;"/>
                            </div>
                            <div class="col-md-3" style="padding-top: 8px;">
                                <p style="font-size: 15px;"
                                   th:text="${'To ' + student.firstName + ' ' + student.lastName}"></p>
                                <p style="font-size: 12px;" th:text="${mineRootMsg.createTime}"></p>
                            </div>

                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            <p style="font-size: 12px;" th:text="${mineRootMsg.content}"></p>
                        </div>

                        <a th:href="@{/msg/details/__${mineRootMsg.id}__}">Details</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- 用户接收到的根消息 -->
        <div th:each="sender:${senderList}">
            <div th:each="rootMsg:${rootMsgList}">
                <div th:if="${sender.id == rootMsg.senderId}">

                    <div class="container-fluid zhenghan-border-gray">
                        <div class="col-md-12 " style="padding-top: 10px;padding-left: 0;">

                            <div class="col-md-1" style="padding: 0;">
                                <img th:src="${sender.pic}" style="width: 60px;height: 60px;"/>
                            </div>
                            <div class="col-md-3" style="padding-top: 8px;">
                                <p style="font-size: 15px;"
                                   th:text="${'From ' + sender.firstName + ' ' + sender.lastName}"></p>
                                <p style="font-size: 12px;" th:text="${rootMsg.createTime}"></p>
                            </div>

                        </div>
                        <div class="col-md-11 col-md-offset-1">
                            <p style="font-size: 12px;" th:text="${rootMsg.content}"></p>
                        </div>

                        <a th:href="@{/msg/details/__${rootMsg.id}__}">Details</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div th:include="common/foot :: foot"></div>

</div><!-- /.container -->


<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/holder.min.js}"></script>

</body>
</html>