<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{favicon.ico}">

    <title>Carousel Template for Bootstrap</title>

    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
    <script th:src="@{/ckeditor/ckeditor.js}"></script>
</head>
<!-- NAVBAR
================================================== -->
<body>
<div class="container">

    <div th:include="common/head :: head"></div>
    </br>
    <div class="col-md-12 zhenghan-border-gray">
        <h3 style="color: crimson" th:text="${exam.title}">Unit 1 Assaignment</h3>
        <br>

        <form class="form-horizontal" th:action="@{/user/exam/doExam/__${exam.id}__}" action="#" method="post" style="margin-left: 15px;">
            <h4 style="color: crimson;padding: 0;">1.Radio examination</h4>
            <hr>
            <div class="form-group" style="border-bottom: 1px solid #DCDCDC;">
                <div th:each="question,questionStat:${questionList}">
                    <div th:if="${question.type==1}">
                    <div class="col-md-12">
                        <p class="zhenghan-question-dsc" th:text="${questionStat.index+1}">(1)</p>
                        <p class="zhenghan-question-dsc" th:utext="${question.title}">How old are you?( )</p>
                    </div>
                    <div class="col-md-12">
                        <ol type="A">
                            <li>
                                <p th:text="${question.optiona}">I don`t know</p>
                            </li>
                            <li>
                                <p th:text="${question.optionb}">I don`t know</p>
                            </li>
                            <li>
                                <p th:text="${question.optionc}">I don`t know</p>
                            </li>
                            <li>
                                <p th:text="${question.optiond}">I don`t know</p>
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" th:name="'examResultQuestionList['+${questionStat.index}+'].questionId'" th:value="${question.id}">
                        <input class="zhenghan-answer-radio" th:name="'examResultQuestionList['+${questionStat.index}+'].answer'" type="radio" th:value="A"> <span
                            style="margin-right: 20px;">A</span>
                        <input class="zhenghan-answer-radio" th:name="'examResultQuestionList['+${questionStat.index}+'].answer'" type="radio" th:value="B"> <span
                            style="margin-right: 20px;">B</span>
                        <input class="zhenghan-answer-radio" th:name="'examResultQuestionList['+${questionStat.index}+'].answer'" type="radio" th:value="C"> <span
                            style="margin-right: 20px;">C</span>
                        <input class="zhenghan-answer-radio" th:name="'examResultQuestionList['+${questionStat.index}+'].answer'" type="radio" th:value="D"> <span
                            style="margin-right: 20px;">D</span>
                    </div></div>
                    <div th:if="${question.type==2}">
                    <div class="form-group" style="border-bottom: 1px solid #DCDCDC;">
                        <input type="hidden" th:name="'examResultQuestionList['+${questionStat.index}+'].questionId'" th:value="${question.id}">
                        <div class="col-md-12">
                            <p class="zhenghan-question-dsc" th:text="${questionStat.index+1}">(1)</p>
                            <p class="zhenghan-question-dsc" th:utext="${question.title}">can you speak chinese?</p>
                        </div>
                        <div class="col-md-12">
                            <textarea th:name="'examResultQuestionList['+${questionStat.index}+'].answer'" id="title"></textarea>
                            <script>
                                CKEDITOR.replace('title');
                            </script>
                        </div>
                    </div></div>
                </div>
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
<div th:include="common/foot :: foot"></div>
</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
</body>
</html>