<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../../css/carousel.css" th:href="@{/css/carousel.css}" rel="stylesheet">
    <link href="../../../css/justified-nav.css" th:href="@{/css/justified-nav.css}" rel="stylesheet"/>
</head>

<body>

<div class="container">
    <div th:include="common/head :: head"></div>
    </br>
    <div class="container" style="border: 1px solid #DCDCDC;">
        <table class="table table-striped">
            <caption style="text-align: center;background-color:#DC143C;font-size: 16px;color:#FFFFFF;padding: 0px;">
                Question And Answer
            </caption>
            <tbody>
            <tr>
                <td style="font-size: 17px;">Q:Do I need permission from my home school?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: No, you do not need permission from your home school. All you need is
                    proof of completion of the prerequisites for your desired course.
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q: Does my credit count towards my high school diploma?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: Yes, all credits received from Willowdale Online High School are
                    recognized as Ontario based credits. They are counted towards your Ontario Secondary School Diploma
                    and University/College application.
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q: Is Ontario Online academy accredited?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: Yes, we are inspected by the Ministry of Education of Ontario. Our
                    BSID/MIDENT# is .....
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q: Are the teachers at Ontario Online Academy certified?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: We have an approachable and supportive team of teachers and course
                    curriculum developers. All of our teachers and developers are experienced, qualified teachers in
                    their respective fields and each is a member of the Ontario College of Teachers.
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q:How does a course work?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: Every course has lessons, homework, quizzes, assignments and tests. All
                    the lessons are materials or videos based. You will submit your solutions and written assignments
                    online based on your own schedule. You can also contact your teacher by email if you have questions.
                    Any tests or quizzes will be completed online, open-book and timed. The final exam is also completed
                    online under the supervision of an appropriate proctor. The student will be responsible for
                    selecting a proctor and submitting an approval application to Willowdale Online High School. The
                    date, time, and location of the exam will be mutually agreed upon by the student and proctor. 
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q:How long does it take to complete a course?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: We do not have a set start and finish time, but we recommend you to
                    complete your course within 4 months. Students who delay the completion of their course often don't
                    finish it. It is in your best interest to schedule your learning so that your course can be
                    completed in a reasonable amount of time. Your teacher will monitor your progress to make sure you
                    are staying on a proper schedule.
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q:Can a course be extended?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: Yes. But, there is an extension fee of $250 which allows you to take
                    the course for an additional ?12 months.
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q: Do I need a textbook?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: No. All materials and resources you need are online.</td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q:How do I register?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: You can register online here: <a href="register.html">register now</a> Follow
                    the steps (1) create your account (2) choose your course (3) choose your payment method (PayPal,
                    Visa or MasterCard) (4) confirmation email of registration and login password received.
                </td>
            </tr>
            <tr>
                <td style="font-size: 17px;">Q:What is your refund policy?</td>
            </tr>
            <tr>
                <td style="font-size: 17px;"> A: There are no tuition refunds. If a student has completed less than 1
                    unit of the course, it is possible to transfer courses.
                </td>
            </tr>

            </tbody>
        </table>

    </div>
</div>

<div th:include="common/foot :: foot"/>
<script src="../../../js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../../js/bootstrap.js" th:src="@{js/bootstrap.js}"></script>
<script src="../../../js/holder.min.js" th:src="@{js/holder.min.js}"></script>
</body>
</html>