<div th:fragment="logined" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="col-md-10">

        <form class="navbar-form navbar-right" th:action="@{user/login}" method="post">

            <!-- 学生 -->
            <div th:if="${session.role == 0}"><a th:href="@{/user/courses}" th:text="${session.username}"></a></div>

            <!-- 老师 -->
            <div th:if="${session.role == 1}"><a th:href="@{/teacher/courses}" th:text="${session.username}"></a></div>

            <!-- 校长 -->
            <div th:if="${session.role == 2}"><a th:href="@{/teacher/principal_teachers}" th:text="${session.username}"></a></div>

            <a th:href="@{/user/logout}">logout</a>


        </form>
        <!--/.navbar-collapse -->
    </div>
</div>
<div th:fragment="unlogined" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-10">
        <form class="navbar-form navbar-right" th:action="@{/user/login}" method="post">

            <div class="col-md-9" style="text-align: right;padding: 0;">
                <input style="margin-bottom: 10px;" type="text" placeholder="Username" class="form-control"
                       name="username">
                <input type="password" placeholder="Password" class="form-control" name="password">
            </div>
            <div class="col-md-3">
                <button style="width: 75px;height: 75px" type="submit" class="btn btn-success">Sign in
                </button>
            </div>


        </form>
        <!--/.navbar-collapse -->
    </div>
</div>