<div th:fragment="nav" xmlns:th="http://www.w3.org/1999/xhtml" >
<table class="table table-hover">

    <tbody>
    <tr>
        <td style="text-align: center"><a th:href="@{/teacher/course/__${session._courseId}__}" href="teacher_questions.html" style="color:#DC143C;"><span class="glyphicon glyphicon-th-list" aria-hidden="true">Course</span></a></td>
    </tr>
    <tr>
        <td style="text-align: center"><a th:href="@{/teacher/questions/questionList}" style="color:#DC143C;"><span
                class="glyphicon glyphicon-th-list" aria-hidden="true">Questions</span></a></td>
    </tr>
    <tr>
        <td style="text-align: center"><a th:href="@{/teacher/courses/unitList}" style="color:#DC143C;"><span
                class="glyphicon glyphicon-th-list" aria-hidden="true">Unit</span></a></td>
    </tr>
    <tr>
        <td style="text-align: center"><a th:href="@{/examList}" style="color:#DC143C;"><span
                class="glyphicon glyphicon-pencil" aria-hidden="true">Test&assignment</span></a></td>
    </tr>
    <tr>
        <td style="text-align: center"><a th:href="@{/teacher/mark/markList}" style="color:#DC143C;"><span
                class="glyphicon glyphicon-pencil" aria-hidden="true">Mark</span></a></td>
    </tr>
    <tr>
        <td style="text-align: center"><a th:href="@{/teacher/courses/fileList}" style="color:#DC143C;"><span
                class="glyphicon glyphicon-eye-open" aria-hidden="true">Files</span></a></td>
    </tr>
    <tr>
        <td style="text-align: center"><a th:href="@{teacher_courses.html}" style="color:#DC143C;"><span
                class="glyphicon glyphicon-arrow-left" aria-hidden="true">Return</span></a></td>
    </tr>
    </tbody>
</table>
</div>